@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variáveis -----------------------------------------*/
:root {
  --main-text-color: white;
  --header-bg-color: #96E1E6;
  --main-bg-color: #0F67D1;
  --hover-color: beige;
}


/*Geral ----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  font-size: 1rem;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

main {
  width: 95%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}

h1 {
  margin: 0.5rem;
}

.invisible {
  display: none;
}

/* Body ------------------------------------------------*/
.acoes {
  display: flex;
  flex-direction: column;
}

#btn-acoes {
  font-weight: bold;
  font-size: 16px;
  color: black;
  background-color: var(--header-bg-color);
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  margin: 3%;
  padding: 3%;
  width: max-content;
  text-align: center;
  display: flex;
  align-self: center;
}

#btn-acoes:hover {
  background-color: var(--hover-color)
}

.container {
  width: 100%;
  background-color: var(--main-bg-color);
  height: 75%;
  display: grid;
  justify-items: center;
}

.item-container {
  padding: 1rem;
  text-align: center;
}

.filtro {
  vertical-align: top;
  padding-top: 3%;
  width: 15%;
}

.pets {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.item-pet {
  width: 21%;
  border-radius: 10px;
  border: solid black;
  padding: 2%;
  margin: 2%;
  font-size: 16px;
  height: auto;
}

.foto-pet {
  max-height: 12em;
  border-radius: 10px;
  max-width: 90%;
}

.dadosPet {
  max-width: 100%;
  display: grid;
  justify-items: center;
}

p {
  margin: 4%;
  text-align: center;
}

.cadastrarPet {
  margin: 2%;
  background-color: var(--header-bg-color);
  min-width: fit-content;
  padding: 2%;
  border-radius: 5%;
  border: solid black 1px;
  display: flex;
  align-items: end;
}

.cadastroPet{
  display: grid;
  justify-items: center;
}

ion-icon {
  color: black;
}


.icones{
  display: flex;
  text-align: center;
  margin-top: 5%;
  align-content: center;
}

@media (max-width: 952px) {
  .item-pet {
    width: 29%;
  }

  p {
    font-size: 12px;
  }
}


/* Forms --------------------------------------------------*/
form,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: grid;
  padding: 0.5rem;
  width: min-content;
  justify-items: center;
  margin: 0.5rem;
}

legend {
  text-align: center;
}

.dados_pessoais,
.tipo_cadastro {
  margin: 0.5rem;
}

select,
input {
  margin: 0.4rem;
}

button {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  margin: 3%;
  padding: 3%;
  width: max-content;
  text-align: center;
  display: flex;
  align-self: flex-end;
}

.alert {
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  margin-right: 0.5rem;
}

.invalido {
  background-color: #e6ff00;
  color: #ff0000;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  text-align: center;
}

.valido {
  color: #19ff00;
}

.mostrar-senha,
.checkMostrarSenha {
  height: 0.7rem;
  font-size: 0.7rem;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

.emLinha{
  display: flex;
  align-items: center;
}

td {
  min-width: 10em;
}
.coluna1 {
  text-align: right;
}


.centralizado {
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.readonly {
  background-color:#a7a7a7;
  border: none;
  width: 15%;
  text-align: center;
}

/* alertas ------------------------------------------- */
#documentError,
#phoneError,
#emailError,
#dataError,
#fotoError {
  display: none;
  font-size: 0.8em;
}

#documentError.visible,
#phoneError.visible,
#emailError.visible,
#dataError.visible,
#fotoError.visible {
  display: block;
}

input.invalid {
  border-color: red;
}